<!doctype html>
<html>
<head>
<title>Web Controller</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>



<img src="https://www.linuxformat.com/forums/images/lxf.gif" height=25% width=25%>

<!--
<div class="alert alert-success">
  <strong>Try me!</strong> Click on the buttons toggle activation.
</div>
-->

<div class="container">
  <h2>Web Controller v 0.3</h2>
  <p>Click on the buttons to trigger</p>
  <div class="btn-group">
    <a href="/motor-forwards/" data-toggle="tooltip" title="Make the motor spin!" class="btn btn-success">Motor Forward</a>
    <a href="/on/" data-toggle="tooltip" title="Toggle the LED on or off!"  class="btn btn-warning">Toggle LED</a>
    <a href="/motor-backwards/" data-toggle="tooltip" title="Send the motor into reverse!"  class="btn btn-danger">Motor Backward</a>
  </div>
</div>

</body>
</html>
