<!doctype html>
<html>
<head>
<title>Web Controller</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
<img src="https://www.linuxformat.com/forums/images/lxf.gif" height=50% width=50%>
<div class="alert alert-success">
  <strong>Try me!</strong> Click on the buttons toggle activation.
</div>
<div class="on">
<a href="/on/" class="btn btn-info btn-block" role="button">Toggle LED</a>
</div>
</br>
<!--
<div class="off">
<a href="/off/" class="btn btn-danger btn-block" role="button">LED OFF</a>
</div>
-->
</body>
</html>
